~*
__pycache__
*.DS_Store
*.pyc
.ipynb_checkpoints
*~
*.gexf
*.zip
*.gz
*.egg-info
*.gephi
*.hypothesis
*.csv
*.tsv
*.pdf
data/dowloaded/timestamp.txt
*.RData
.Rhistory
scattermaps-cache.h5
.ssh
.idea
output-*
